body, html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: rgba(53, 51, 51, 0.3);
}
.parallax {
	background-image: url("images/70574298_p0.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: center;
	overflow: hidden;
	position: relative;
}
.border {
	background-color: #282E34;
	height: 5px;
	width: 100%;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fadej {
	opacity: 0;
}
/* BACKGROUNDS */
.big {
	height: 100vh;
}
.small {
	height: 50vh;
}
/*.two {
	background-image: url("images/4.png");
}
.three {
	background-image: url("images/66030163_p0.png");
}
.four {
	background-image: url("images/64010672_p0.png");
}
.five {
	background-image: url("images/64421309_p0.png");
}
.six {
	background-image: url("images/65234148_p0.png");
}
.seven {
	background-image: url("images/69689686_p0.png");
}
.eight {
	background-image: url("images/65657746_p0.png");
}
.nine {
	background-image: url("images/4.png");
}
.ten {
	background-image: url("images/66777091_p0.png");
}*/
/* MISC */
.sign {
	width: 100%;
	text-align: center;
}
.row {
	display: grid;
	column-gap: 2vh;
	row-gap: 2vh;
}
.grid-big {
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.grid-small {
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.scroll {
	padding: 20px;
	font-family: Times New Roman;
	font-size: 50px;
	color: #fff;
	background-color: #777;
	cursor: default;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* NAV */
.nav {
	display: flex;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	opacity: 1;
	background-color: none;
	border-bottom: 2px #777 solid;
	background-color: rgba(80,80,80,.35);
	z-index: 1;
}

.nav a, li a {
	font-family: Poppins;
    color: #f2f2f2;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 17px;
    height: 37px;
    font-size: 20px;
    user-select: none;
}
.nav a:hover {
	background-color: rgba(115, 115, 115, 0.2);
}
.baboom {
	position: relative;
	display: none;
}
@media only screen and (max-width: 1214px) {
    .useless {
    	display: none;
    }
    .baboom {
    	display: block;
    }  
}

#probar {
	height: 30px;
	width: 200px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	background: none;
}
.variables {
	width: 40%;
	min-height: 20px;
	margin: 10px;
	padding: 20px;
	font-family: Times New Roman;
	font-size: 20px;
	letter-spacing: 8px;
	color: #fff;
	background: rgba(102, 102, 102, 0.2);
	cursor: default;
}
#varbox {
	position: absolute; 
	width: 100%; 
	top: 80px; 
	left: 100px;
	height: 500px;
}
.logo {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fill 1s ease forwards 2s;
	z-index: 1;
}
.logo1 {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fill1 3s ease forwards 2.9s;
	z-index: 1;
}
.logo path:nth-child(1) {
	stroke-dasharray: 869.1591186523438;
	stroke-dashoffset: 869.1591186523438;
	animation: line-anim 2s cubic-bezier(1, -0.07, 0.43, 0.93) forwards;
}
.logo path:nth-child(2) {
	stroke-dasharray: 1572;
	stroke-dashoffset: 1572;
	animation: line-anim 2s cubic-bezier(1, -0.07, 0.43, 0.93) forwards 0.3s;
}
.logo path:nth-child(3) {
	stroke-dasharray: 1249;
	stroke-dashoffset: 1249;
	animation: line-anim 2s cubic-bezier(1, -0.07, 0.43, 0.93) forwards 0.6s;
}
.logo path:nth-child(4) {
	stroke-dasharray: 1361;
	stroke-dashoffset: 1361;
	animation: line-anim 2s cubic-bezier(1, -0.07, 0.43, 0.93) forwards 0.9s;
}
.line {
	position: absolute;
	top: 50%;
	left: 50.5%;
	transform: translate(-50%, -50%);
	animation: fill1 1s ease forwards 2.7s;
}
@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}
@keyframes fill1 {
	from {
		stroke: none;
	}
	to {
		stroke: rgb(19, 255, 176);
	}
}
.animation-box, .row {
	position: absolute; 
	width: 100%; 
	height: 100%;
	pointer-events: none;
}
.sphere path {
	fill: url(#sphereGradient);
	stroke-width: 1px;
	stroke: rgba(80,80,80,.35);
	backface-visibility: hidden;
}
.sphere-animation {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 580px;
	height: 580px;
	margin: -290px 0 0 -290px;
}
.animation-wrapper {
	width: 30%;
	padding-bottom: 50%;
}
svg {
	overflow: visible;
}
